<head>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>


<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h3 id="chat">
				Need one-of-a-kind content, social media that's human
				and someone that can keep up with the fast-paced online world? 
				<br/><br/>
				Look no further, let's connect!
				<br/> <br/>
				Email me at <a href="mailto:luz.andrea93@gmail.com?Subject=Let's Chat!" target="_top">luz.andrea93@gmail.com </a> or connect through any social channel!
				<br/><br/>

				I'm up for tea and chat everything social media, technology and travel (check my travel map below to inspire your wanderlust!) . 
				<br/>

				<br/>
			</h3>
		</div>
	</div>
</div>


    <div class="container">
    	<div class="row">
    		<div class="col-md-12">

    			<script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/themes/dark.js" type="text/javascript"></script>
<div id="mapdiv" style="width: 100%; height: 450px;"></div>
<div style="width: 100%; font-size: 70%; padding: 5px 0; text-align: center; background-color: #fff; margin-top: 1px; color: #000000;"><a href="https://www.amcharts.com/visited_countries/" style="color: #000000;">Create your own visited countries map</a> or check out the <a href="https://www.amcharts.com/" style="color: #000000;">JavaScript Charts</a>.</div>
<script type="text/javascript">
var map = AmCharts.makeChart("mapdiv",{
type: "map",
theme: "dark",
projection: "mercator",
panEventsEnabled : true,
backgroundColor : "#fff",
backgroundAlpha : 1,
zoomControl: {
zoomControlEnabled : true
},
dataProvider : {
map : "worldHigh",
getAreasFromMap : true,
areas :
[
	{
		"id": "BE",
		"showAsSelected": true
	},
	{
		"id": "ES",
		"showAsSelected": true
	},
	{
		"id": "FR",
		"showAsSelected": true
	},
	{
		"id": "IT",
		"showAsSelected": true
	},
	{
		"id": "VA",
		"showAsSelected": true
	},
	{
		"id": "CA",
		"showAsSelected": true
	},
	{
		"id": "MX",
		"showAsSelected": true
	},
	{
		"id": "US",
		"showAsSelected": true
	},
	{
		"id": "AR",
		"showAsSelected": true
	},
	{
		"id": "BR",
		"showAsSelected": true
	},
	{
		"id": "EC",
		"showAsSelected": true
	},
	{
		"id": "PE",
		"showAsSelected": true
	},
	{
		"id": "CN",
		"showAsSelected": true
	},
	{
		"id": "ID",
		"showAsSelected": true
	},
	{
		"id": "LA",
		"showAsSelected": true
	},
	{
		"id": "MO",
		"showAsSelected": true
	},
	{
		"id": "MM",
		"showAsSelected": true
	},
	{
		"id": "MY",
		"showAsSelected": true
	},
	{
		"id": "TH",
		"showAsSelected": true
	},
	{
		"id": "VN",
		"showAsSelected": true
	},
	{
		"id": "HK",
		"showAsSelected": true
	},
	{
		"id": "SG",
		"showAsSelected": true
	}
]
},
areasSettings : {
autoZoom : true,
color : "#000000",
colorSolid : "#d9a31b",
selectedColor : "#d9a31b",
outlineColor : "#000000",
rollOverColor : "#717171",
rollOverOutlineColor : "#000000"
}
});
</script>

    		</div>

    	</div>

    </div>


			
			<!--<form method="POST" action="MAILTO:luz.andrea93@gmail.com" enctype="text/plain" id="contact">
	
			<div>
				<label for="name">Name</label>
				<input type="text" name="name" id="name">
			</div>
	
			<div>
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
			</div>
			<div>
				<label for="subject">Subject</label>
				<input type="text" name="subject" id="subject">
			</div>
			<div>
				<label for="message">Message</label>
				<input type="text" name="message" id="message">
			</div>
		
			<input type="submit" class="btn btn-info" id="submit"/>
			</form>
		</div>
		<div class="col-xs-6 col-md-4">
			<br/><br/>
			<h1> Have a question?</h1>
			<h5> Feel free to fill out this form or connect through any of my social networks</h5>

		</div>-->
		



</body>