<head>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>


<div class="container">
	<div class="row">
	<div class="col-xs-12 col-md-8" id="contactform">

		<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
			<div class="row">
				<label for="name">Name</label><br />
				<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
			</div>
			<div class="row">
				<label for="email">Email</label><br />
				<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
			</div>
			<div class="row">
				<label for="message">Message</label><br />
				<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
			</div>
			<input type="submit" class='button' value="Connect!" onclick="window.location.href='mailto:luz.andrea93@gmail.com'">
		</form>
	</div>
			
			<!--<form method="POST" action="MAILTO:luz.andrea93@gmail.com" enctype="text/plain" id="contact">
	
			<div>
				<label for="name">Name</label>
				<input type="text" name="name" id="name">
			</div>
	
			<div>
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
			</div>
			<div>
				<label for="subject">Subject</label>
				<input type="text" name="subject" id="subject">
			</div>
			<div>
				<label for="message">Message</label>
				<input type="text" name="message" id="message">
			</div>
		
			<input type="submit" class="btn btn-info" id="submit"/>
			</form>
		</div>
		<div class="col-xs-6 col-md-4">
			<br/><br/>
			<h1> Have a question?</h1>
			<h5> Feel free to fill out this form or connect through any of my social networks</h5>

		</div>-->
		
	</div>
</div>	



</body>