<body>

 <div class="title_contact">
        <div class="row">
        	<div class="col-md-1"><img src="/images/main_contact.png" class="main_icon"></div>
        	<div class="col-md-11"><h2 id="label_contact">Contact</h2></div>
        </div>
  </div>

<div class="body_contact">
	<div class="row">
		<div class="col-md-6">
			<form method="POST" action="/contact" id="contact">
	
			<div>
				<label for="name">Name</label>
				<input type="text" name="name" id="name">
			</div>
	
			<div>
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
			</div>
			<div>
				<label for="subject">Subject</label>
				<input type="text" name="subject" id="subject">
			</div>
			<div>
				<label for="message">Message</label>
				<input type="text" name="message" id="message">
			</div>
		
			<input type="submit" class="btn btn-info" id="submit"/>
			</form>
		</div>

		<div class="col-md-6">
			<div class="personal_contact">
				<div id="telephone">
					<img src="/images/iphone.png" class="main_icon">
					<h5>+1(604) 828-7241</h5>
				</div>
				<div id="emailme">
					<img src="/images/laptop.png" class="main_icon">
					<h5>luz.andrea93@gmail.com</h5>
				</div>
			</div>
		</div>
	</div>
</div>	



</body>