<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NJSFFB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJSFFB');</script>
<!-- End Google Tag Manager -->

	<div class="title_contact">
        <div class="row">
        	<div class="col-md-1"> <img src="/images/main_education.png" class="main_icon"></div>
        	<div class="col-md-11"><h2 id="label_contact">Education</h2></div>
        </div>
  	</div>


	<div id="body_education">
		<div class="row" id="uni">
  			<div class="col-md-4" id="profile_content">
  				<h3>University</h3>	
  			</div>
  			<div class="col-md-8">
  			
  			</div>
  		</div>

  		<div class="row" id="ubc">
  			<div class="col-md-4" id="profile_content">
  				<img src="/images/ubclogo.png" class="education-logo">
  			
  			</div>
  			<div class="col-md-6">
  				<p>
  				
				<strong>Bachelor of Commerce</strong>
        <br/><em> Sauder School of Business</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vancouver, Canada 
				<br/> 
        <br/>

				•	Key Academic Project: Spearheaded marketing plan for the Beaty Biodiversity Museum to increase admissions ticket revenues by 15% for next fiscal year by maximizing brand awareness and clarifying target market.

  				</p>
  			</div>
        <div class="col-md-2" id="year">
          <strong>May 2015</strong>
        </div>
  		</div>

  		<div class="row" id="nus">
  			<div class="col-md-4" id="profile_content">
  				<img src="/images/nus.png" class="education-logo">
  			
  			</div>
  			<div class="col-md-6">
  				<p>
  			
				<strong>Go Global Exchange Program</strong>
        <br/><em>National University of Singapore</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Singapore
				<br/>
        <br/>

        • Key Academic Project: Headed market research project for FRANK by OCBC Bank to evaluate its performance among youth by collecting, analyzing and evaluating primary data. 

				<br/>

        • Received NUS- UBC Lee Foundation Student Exchange Award
				

  				</p>
  			</div>
        <div class="col-md-2" id="year">
         <strong>2014</strong>
          
        </div>	
  		</div>
  		<div class="row" id="uni">
  			<div class="col-md-4" id="profile_content">
  				<h3>Certificates</h3>	
  			</div>
  			<div class="col-md-8">
  			
  			</div>
  		</div>
		<div class="row" id="hoot">
  			<div class="col-md-4" id="profile_content">
  				<img src="/images/hoots.png" class="education-logo">
  			
  			</div>
  			<div class="col-md-6">
  				<p>
  				
				<strong>Social Media Marketing Certification Exam</strong>
        <br/><em> Hootsuite Media Inc.</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vancouver, Canada 
				<br/>
  				</p>
  			</div>
        <div class="col-md-2" id="year">
          <strong>November 2015</strong>
        </div>
  		</div>

  		<div class="row" id="light">
  			<div class="col-md-4" id="profile_content">
  				<img src="/images/columbia.png" class="education-logo">
  			
  			</div>
  			<div class="col-md-6">
  				<p>
  				
				<strong>Introduction to Sustainable Development</strong>
        <br/><em> Columbia University</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coursera 
				<br/>
  				</p>
  			</div>
        <div class="col-md-2" id="year">
          <strong>August 2015</strong>
        </div>
  		</div>

      <div class="row" id="light">
        <div class="col-md-4" id="profile_content">
          <img src="/images/hoots.png" class="education-logo">
        
        </div>
        <div class="col-md-6">
          <p>
          
        <strong>Hootsuite Certified Professional</strong>
        <br/><em> Hootsuite Media Inc.</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vancouver, Canada
        <br/>
          </p>
        </div>
        <div class="col-md-2" id="year">
          <strong>July 2015</strong>
        </div>
      </div>

      <div class="row" id="light">
        <div class="col-md-4" id="profile_content">
          <img src="/images/light.png" class="education-logo">
        
        </div>
        <div class="col-md-6">
          <p>
          
        <strong>Web Development Fundamentals</strong>
        <br/><em> Lighthouse Labs</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vancouver, Canada
        <br/>
          </p>
        </div>
        <div class="col-md-2" id="year">
          <strong>July 2015</strong>
        </div>
      </div>

      







  	</div>

</body>