<head>

<title>Luz Alvarado in the real world</title>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

</script>

	
</head>

<body>
</br>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">

				
				<h3 id="head_ubc">I've been lucky to be part of fantastic teams <a href="http://vanfashionweek.com/">creating relationships</a> in the fashion industry,<a href="https://www.facebook.com/ShopPurpleDirt/?fref=ts"> managing social media</a> that gives back, and <a href="http://artstarts.com"> juggling multiple balls </a> in the most creative place.</h3><br/>
				
			</div>
		</div>
	</div>



	<div class="container" style="background-image: url(images/blackwater.png)">>

		<h4 style="color: white; text-align: left"><a href="http://vanfashionweek.com/">VANCOUVER FASHION WEEK</a></h4>

    	<div class="row">
    		
    		<div class="col-xs-1 col-md-1">
    			
    		</div>
    		<div class="col-xs-2 col-md-2">
    			<a href="https://www.facebook.com/florenciaocchiuzzi1818/?pnref=story"><img src="/images/flopy.png" class="brandlogo" alt="Occhiuzzi by Florencia Occhiuzzi logo"></a>
    			
    		</div>

    		<div class="col-xs-2 col-md-2">
    			<a href="https://www.facebook.com/emmabelliniperu/"><img src="/images/emma.png" class="brandlogo" alt="Emma Bellini logo"></a>
    			
    		</div>

    		<div class="col-xs-2 col-md-2">
    			<a href="http://www.ankurabrand.com/index.php/en/"><img src="/images/ankura.png" class="brandlogo" alt="Ankura logo"></a>
    			
    		</div>
    		<div class="col-xs-2 col-md-2">
    			<a href="http://www.sousapitti.com"><img src="/images/sousa.png" class="brandlogo" alt="Sousa Pitti logo"></a>
    			
    		</div>
    		<div class="col-xs-2 col-md-2">
    			<a href="https://www.facebook.com/LAUTAROAMADEOTAMBUTTO/"><img src="/images/lat.png" class="brandlogo" alt="LAT by Lautaro Amadeo Tambutto logo"></a>
    		</div>
    		<div class="col-xs-1 col-md-1">
    			
    		</div>
    	</div>

    	<div class="row">

    
    		<div class="col-xs-1 col-md-1">
    			
    		</div>
    		<div class="col-xs-2 col-md-2">
    			<a href="http://www.estilopunta.com"><img src="/images/estilo.png" class="brandlogo" alt="Estilo Punta logo"></a>
    			
    		</div>

    		<div class="col-xs-2 col-md-2">
    			<a href="http://www.dressmix.com.uy"><img src="/images/dress.png" class="brandlogo" alt="DressMix logo"></a>
    			
    		</div>

    		<div class="col-xs-2 col-md-2">
    			<a href="http://revistablum.com/"><img src="/images/blum.png" class="brandlogo" alt="Revista BLUM logo"></a>
    			
    		</div>
    		<div class="col-xs-2 col-md-2">
    			<a href="http://www.ellas.pa"><img src="/images/ellas.png" class="brandlogo" alt="ELLAS logo"></a>
    			
    		</div>
    		<div class="col-xs-2 col-md-2">
    			<a href="http://www.quintatrends.com"><img src="/images/quinta.png" class="brandlogo" alt="Quinta Trends logo"></a>
    		</div>
    		<div class="col-xs-1 col-md-1">
    			
    		</div>
    	</div>

    <br/>
    <br/>

    	

    </div>
    <br/>
    
    <div class="container">
    	<h4 style="text-align: left"><a href="https://www.facebook.com/ShopPurpleDirt/?fref=ts">PURPLE DIRT</a></h4>
    	<br/>
    	<div class="row">
    		<div class="col-xs-12 col-md-12">
  			<iframe width=100% height="400px" src="https://www.youtube.com/embed/zcD5i3Whdmk" frameborder="0" allowfullscreen></iframe>	
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-xs-7 col-md-7">
    			<a href="https://twitter.com/shoppurpledirt"><img src="/images/pdtwitter.png" alt="Some of the Tweets I Did for PurpleDirt"></a>
    			<a href="https://www.facebook.com/ShopPurpleDirt/"><img src="/images/pdface.png" style="height: 370px" alt="PurpleDirt's Facebook Post"></a>	
    		</div>

    		<div class="col-xs-5 col-md-5">
    			<a href="https://www.instagram.com/p/qhSWwqF6fZ/?taken-by=shoppurpledirt"><img src="images/pdinsta.png" style="height: 608px" alt="My Goodbye Instagram Post"></a>
    		</div>
    	</div>

    	
    </div>

     <br/>

    <div class="container">
    	<h4 style="text-align: left"><a href="http://artstarts.com">ARTSTARTS IN SCHOOLS</a></h4>
    	<br/>
    

    	<div class="row">
    		
    		<div class="col-xs-7 col-md-7">
    			<a href="https://scontent.xx.fbcdn.net/hphotos-xpf1/t31.0-8/921392_1084659428250937_3342113809440233553_o.jpg"><img src="/images/showcase.jpg" style="height: 350px" alt="The girls and I at the Reception Desk on the First Day of the Annual Showcase"></a>
    			
    		</div>
    		<div class="col-xs-5 col-md-5">
    			<img src="/images/Ticket_5.png" style="height: 350px" alt="The Ticket for the Showcase Dinner I made with Photoshop">
    		</div>
    	</div>
    	<br/>

    	<div class="row">
    		<div class="col-xs-12 col-md-12">
    			<img src="/images/Menu.png" style="height: 670px" alt="The Menu for the Showcase Dinner I made with Photoshop">
    		</div>
    	</div>
    	 <br/>

    	<div class="row">
    			<div class="col-xs-3 col-md-3">
    			<img src="/images/commonandme.png" style="height: 250px" alt="Luz Alvarado looking for a needle in a haystack">
    			
    			</div>
    		<div class="col-xs-3 col-md-3">
    			<a href="http://artstarts.com/exhibitions/commonground"><img src="/images/common.jpg" style="height: 230px" alt="Common Ground Exhibition logo"></a>
    			
    		</div>
    			<div class="col-xs-3 col-md-3">
    			<img src="/images/viewfinders.jpg" style="height: 200px" alt="View Finders Exhibition logo">
    			
    		</div>
    			<div class="col-xs-3 col-md-3">
    			<img src="/images/painting.png" style="height: 250px" alt="Luz Alvarado painting the pilar for the View Finders exhibition">
    			
    		</div>
    		
    	</div>
    	
    </div>

     <br/>

    <div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">

				
				<h3 id="head_ubc" style="text-align: center">"When love and skill work together, expect a masterpiece" <br/>
				<strong>John Ruskin</strong></h3><br/>
				
			</div>
		</div>
	</div>
</body>
