<body>
	<div class="title_contact">
        <div class="row">
        	<div class="col-md-1"> <img src="/images/main_experience.png" class="main_icon"></div>
        	<div class="col-md-11"><h2 id="label_contact">Experience</h2></div>
        </div>
  	</div>

  	<div class="row" id="uni">
  			<div class="col-md-4" id="profile_content">
  				<h3>Work Experience</h3>	
  			</div>
  			<div class="col-md-8">
  			
  			</div>
  		</div>


  	<div class="row" id="purple">
  		<div class="col-md-4" id="profile_content">
  			<img src="/images/purple.png" class="education-logo">
  		</div>
  		<div class="col-md-7">
  			<p>
  			
			<strong>Social Media and Content Manager</strong>, <em>Purple Dirt</em>, Vancouver, Canada
			<br/>

			•	Increased brand awareness on Twitter, Facebook and Instagram by developing and executing a comprehensive social media strategy. <br/>
			•	Updated content on all social media platforms and website by adding blog content and pictures to attract new customers. <br/>
			•	Listened to influencers and brands in the ethical fashion world by monitoring and analyzing their social media channels.<br/>
  			</p>
  		</div>	
  		<div class="col-md-1" id="year">
  			<strong>2014</strong>	
  		</div>
  	</div>

  	<div class="row" id="marine">
  		<div class="col-md-4" id="profile_content">
  			<img src="/images/marine.png" class="education-logo">
  		</div>
  		<div class="col-md-7">
  			<p>
  			
			<strong>Summer Treasurer</strong>, <em>Marine Drive Residence Association</em>, Vancouver, Canada
			<br/>

			•	Organized and planned three events to promote the creation of a community for residents by listening to individual interests and diversifying types of activities. <br/>
			•	Managed a budget of $2,000 for summer events execution such as water balloon fight, pizza night and Stanley Park visit.<br/>
			•	Raised number of attendees by promoting events through social media and posters around the residence.<br/>
  			</p>
  		</div>	
  		<div class="col-md-1" id="year">
  			<strong>2013</strong>
  		</div>
  	</div>

  		
  	<div class="row" id="uni">
  		<div class="col-md-4" id="profile_content">
			<h3>Extra-Curricular</h3>	
  		</div>
  		<div class="col-md-8">
  			
  		</div>
  	</div>

  	<div class="row" id="purple">
  		<div class="col-md-4" id="profile_content">
  			<img src="/images/logo_sauder.png" class="education-logo">
  		</div>
  		<div class="col-md-7">
  			<p>
  			
			<strong>TREK China Participant</strong>, <em>Sauder School of Business</em>, Vancouver, Canada
			<br/>

			•	Selected as one of the 18 participants for the 2015 Trek China Program, a school sponsored 5 day trip to both Shanghai and Hong Kong that enables students to engage and build networks with business professionals overseas, as well as deepen the understanding of the Chinese business environment.
  			</p>
  		</div>	
  		<div class="col-md-1" id="year">
  			<strong>2015</strong>
  		</div>
  	</div>



  	<div class="row" id="marine">
  		<div class="col-md-4" id="profile_content">
  			<img src="/images/sauder.png" class="education-logo">
  			
  		</div>
  		<div class="col-md-7">
  			<p>
  			
			<strong>International Relations Manager</strong>, <em>Sauder Summit Global Case Competition</em>, Vancouver, Canada
			<br/>

			•	Recognized the best IR manager for demonstrated leadership and initiative by providing extra help needed by executive team.<br/>
			•	Gained experience on event planning through participation on organization and development of cases, socials and closing gala.<br/>
			•	Facilitated communications between competitors and organizing team by continuously fullfilling needs and concerns.<br/>
  			</p>
  		</div>
  		<div class="col-md-1" id="year">
  			<strong>2015</strong>
  		</div>	
  	</div>

  	<div class="row" id="marine">
  		<div class="col-md-4" id="profile_content">
  			
  		</div>
  		<div class="col-md-7">
  			<p>
  			
			<strong>Social Director</strong>, <em>Sauder Summit Global Case Competition</em>, Vancouver, Canada
			<br/>

			•	United a team of twenty-nine persons through dinners and group activities to build team spirit that could make incoming participants feel comfortable. <br/>
			•	Organized order and design of centerpieces for duration of event.<br/> 
			•	Secured two popular locations for team events by maintaining constant communication with owners. <br/>
  			</p>
  		</div>
  		<div class="col-md-1" id="year">
  			<strong>2014</strong>
  		</div>	
  	</div>



  	<div class="row" id="interest">
  		<div class="col-md-4" id="profile_content">
  			<h3>Skills</h3>
  		</div>
  			<div class="col-md-1"></div>
  			<div class="col-md-1"><img src="/images/social.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/team.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/time.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/leader.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/listen.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/creative.png" class="row-icons">
  			</div>
  			<div class="col-md-1"></div>					
  	</div>

  	<div class="row" id="interest">
  		<div class="col-md-4" id="profile_content">
  			
  		</div>
  			<div class="col-md-1"></div>
  			<div class="col-md-1"><img src="/images/html.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/css.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/ruby.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/office.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/movie.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/photoshop.png" class="row-icons">
  			</div>
  			<div class="col-md-1"></div>					
  	</div>

  	<div class="row" id="uni">
  		<div class="col-md-4" id="profile_content">
			<h3>Languages</h3>	
  		</div>
  		<div class="col-md-8">
  			
  		</div>
  	</div>


  	<div class="row" id="marine">
  		<div class="col-md-4" id="profile_content">
  			
  		</div>
  		<div class="col-md-8">
  			
  		<p>
			<strong>English</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">
			<br/><br/>

			<strong>Spanish</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">
			<br/><br/>

			<strong>French</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">&nbsp;<img src="/images/star.png" class="icons">
			<br/><br/>

			<strong>Chinese</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/star.png" class="icons">
			<br/><br/>

			<strong>Portuguese</strong>&nbsp;&nbsp;&nbsp;<img src="/images/star.png" class="icons">
			<br/><br/>

		</p>


  			
  		</div>	
  	</div>







</body>