<head>

<title>Luz Alvarado in the real world</title>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

</script>

	
</head>

<body>
</br>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-9 col-md-offset-3">

				
				<h3 id="head_ubc">I've been lucky to be part of fantastic teams <a href="http://vanfashionweek.com/">creating relationships</a> in the fashion industry,<a href="https://www.facebook.com/ShopPurpleDirt/?fref=ts"> managing social media</a> that gives back, and <a href="http://artstarts.com"> juggling multiple balls </a> in the most creative place. And while I really enjoyed the work that I did, I’d love the chance to dig in much deeper within the tech/marketing/hospitality industry, which is why I would like you to take a look at this page. It will give you a deeper sense of each of my experiences and you will have an idea of what type of skills, experience and value I would be adding to your company. Plus, you’ll get to know me better! </h3>
                <br/>
				
			</div>
		</div>
	</div>
    <br/>



	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">

	           <h4 style="text-align: left"><a href="http://vanfashionweek.com/">VANCOUVER FASHION WEEK</a></h4>

                <br/>   
                <h5 style="text-align: justify; line-height: 1.5; padding-right: 20px"> 
                <strong>What is it?</strong> <br/>
                <br/>
                Vancouver Fashion Week is a diverse and innovative bi-annual fashion experience that features both established and emerging designers. It is the fastest growing fashion week in the world and the only industry event that actively seeks out to showcase international award-winning designers from over 25 global fashion capitals. <br/>
                 <br/>
                <strong>What did I do?</strong> <br/>
                <br/>
                I am currently volunteering at VFW where I've mastered my Google and Facebook skills researching for new designers from Spain, Latin America and the US to join our event. My biggest achievement was in the South American region where I expanded the designer directory by 22% over 8 days. I secured 2 emerging designers (<a href="https://www.facebook.com/emmabelliniperu/">Emma Bellini</a> from Peru and <a href="https://www.facebook.com/florenciaocchiuzzi1818/?pnref=story">Florencia Occhiuzzi</a> from Uruguay) for the Fall/Winter 2016 season within a tight    deadline. <br/>
                 <BR/>
                I am the happiest person providing help to others so I assisted them in everything I could before, during and after the show. This involved flight tickets, hotel reservations, touristic recommendations and most importantly, moral support and a smile. As I went through the whole process with them, I established a meaningful relationship with them and their families. It didn’t end up there. I also supported and built connections with other Spanish speaker designers: <a href="http://www.ankurabrand.com/index.php/en/">Ankura</a>,  <a href="https://www.facebook.com/LAUTAROAMADEOTAMBUTTO/">LAT</a> and <a href="http://www.sousapitti.com">Sousa Pitti</a>. I was amazed with their creativity, energy and commitment to their careers. <br/>
                <br/>
                Moreover, I identified and developed new South American media partnerships which include <a href="http://revistablum.com/"> Revista Blum</a> (Peru),<a href="http://www.estilopunta.com/"> Estilo Punta</a> (Uruguay),<a href="http://www.dressmix.com.uy/"> DressMix</a> (Uruguay), <a href="http://www.ellas.pa/"> Ellas</a> (Panama) and<a href="http://www.quintatrends.com/"> Quinta Trends</a> (Chile).  I got these magazines to cover the event on their websites, social media channels and print issues. <br/>
                <br/>

                 </h5>
            </div>


            <div class="col-xs-12 col-md-6">

                <img src="/images/VFWrunway.png" alt="Florencia Occhiuzzi and Emma Bellini" title="Florencia Occhiuzzi and Emma Bellini Fall/Winter 2016 ">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-1">
                
            </div>
            <div class="col-xs-4 col-md-2">
                <br/><a href="https://www.facebook.com/florenciaocchiuzzi1818/?pnref=story"><img src="/images/flopy.jpg"  alt="Occhiuzzi by Florencia Occhiuzzi logo"></a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="https://www.facebook.com/emmabelliniperu/"><img src="/images/emma.jpg" class="brandlogo" alt="Emma Bellini logo"></a>
                
            </div>

            <div class="col-xs-4 col-md-2">
                <a href="http://www.ankurabrand.com/index.php/en/"><img src="/images/ankura.png" class="brandlogo" alt="Ankura logo"></a>
                
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="http://www.sousapitti.com"><img src="/images/sousa.jpg" class="brandlogo" alt="Sousa Pitti logo"></a>
                
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="https://www.facebook.com/LAUTAROAMADEOTAMBUTTO/"><img src="/images/lat.jpg" class="brandlogo" alt="LAT by Lautaro Amadeo Tambutto logo"></a>
            </div>
            
        </div>
    </div>
    


    <br/>
    <br/>

    	

    </div>
    <br/>
    <br/>
    
    <div class="container">
    	
    	<div class="row">
    		<div class="col-xs-12 col-md-12">
            <h4 style="text-align: left"><a href="https://www.facebook.com/ShopPurpleDirt/?fref=ts">PURPLE DIRT</a></h4>
            <br/>
  			<iframe width=100% height="550px" src="https://www.youtube.com/embed/zcD5i3Whdmk" frameborder="0" allowfullscreen></iframe>	
    		</div>
    	</div>
        <br/>

    	<div class="row">

            <div class="col-xs-12 col-md-6">
                <h5 style="text-align: justify; line-height: 1.5; padding-right: 20px"> 
                <strong>What is it?</strong> <br/>
                <br/>
                PurpleDirt is a collective of primarily female artists and organizers based in Nicaragua and Canada that believe fashion is a platform for social enrichment and women empowerment. The organization was created to support Nicaraguan artisans striving for an end to poverty in Nicaragua. It creates one-of-a-kind, expressive jewelry using upcycled materials from Canada and donate proceeds back into the community.  <br/>
                 <br/>
                <strong>What did I do?</strong> <br/>
                <br/>
                During my internship, I boosted the brand awareness by 30% by implementing a comprehensive social media strategy based on daily listening and engagement within the online community. It also included platform-specific posts and campaigns: fun-facts for <a href="https://twitter.com/shoppurpledirt"> Twitter</a>, video series for <a href="https://www.youtube.com/embed/zcD5i3Whdmk"> Youtube</a>, giveaway contests for <a href="https://www.facebook.com/ShopPurpleDirt/"> Facebook</a> and catchy images for <a href="https://www.instagram.com/p/qhSWwqF6fZ/?taken-by=shoppurpledirt"> Instagram</a>. Moreover, I amplified the content’s diversity and reach by monitoring and analyzing the social media activity of influencers and similar companies such as The Honest Company and Pura Vida Bracelets. <br/>
                <br/>
                My favourite part of working at PurpleDirt was creating a video series called "The Women of PurpleDirt" that allowed customers to create a connection with the artisans making their jewelry and build a long-lasting and meaningful relationship with the brand. I made the videos using Final Cut Pro X.
                <br/>
                </h5>

            </div>
    		<div class="col-xs-12 col-md-6">
    			
    			<a href="https://www.facebook.com/ShopPurpleDirt/"><img src="/images/pdface.png" style="height: 390px" alt="PurpleDirt's Facebook Post"></a>	
                <br/>
               
    		</div>
        </div>
         <br/>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                     <a href="https://twitter.com/shoppurpledirt"><img src="/images/pdtwitter.png" alt="Some of the Tweets I Did for PurpleDirt"></a>
                    
                </div>
                <div class="col-xs-12 col-md-6">
                     <a href="https://twitter.com/shoppurpledirt"><img src="/images/pdtwitter2.png" alt="Some of the Tweets I Did for PurpleDirt"></a>
                    
                </div>
                
            </div>
        </div>

    		
    </div>
	
    <br/>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
    	       <h4 style="text-align: left"><a href="http://artstarts.com">ARTSTARTS IN SCHOOLS</a></h4>
    	       <br/>
               <h5 style="text-align: justify; line-height: 1.5; padding-right: 20px"> 
                <strong>What is it?</strong> <br/>
                <br/>
                ArtStarts in Schools is a not-for-profit organization that promotes art and creativity among British Columbia’s young people. Since 1996, ArtStarts has supported educators, artists, parents and students by offering a broad range of programs, services and resources to promote arts and creativity among British Columbia's young people.<br/>
                 <br/>
                <strong>What did I do?</strong> <br/>
                <br/>
                For 6 months now, I have been happily volunteering here. This position allows me to juggle multiple balls and exploit my imagination. I had the pleasure to be part of the <a href="http://artstarts.com/showcase"> Annual Showcase</a> by designing graphic material using Photoshop for the dinner which resulted in the increase of engagement of delegates. And, by catering for the two-day event with 100+ attendees which implied dealing with time constraints, specificity, and a fast-paced environment. <br/>
                <br/>
                During my weekly shift, I consistently and proactively communicate with the 9 team members via e-mail, phone and face-to-face, and help them with individual work plans that included but are not limited to data entry, gallery tours, exhibition set-up, research, paperwork, content curation and even poster runs. When I am attending the reception, I maximize the satisfaction of visitors by providing them with valuable information, solving their doubts, advocating for their interests and greeting them with the biggest smile. <br/>
                <br/>
                </h5>
            </div>
    		
    		
    		<div class="col-xs-12 col-md-6">
    			<br/><img src="/images/Ticket_5.png" style="height: 500px" alt="The Ticket for the Showcase Dinner I made with Photoshop">
    		</div>
    	</div>
    	<br/>

    	<div class="row">
    		<div class="col-xs-12 col-md-12">
    			<img src="/images/Menu.png" style="height: 800px" alt="The Menu for the Showcase Dinner I made with Photoshop">
    		</div>
    	</div>
    	 <br/>

    	<!--<div class="row">
    			<div class="col-xs-3 col-md-3">
    			<img src="/images/commonandme.png" style="height: 300px" alt="Luz Alvarado looking for a needle in a haystack">
    			
    			</div>
    		<div class="col-xs-3 col-md-3">
    			<a href="http://artstarts.com/exhibitions/commonground"><img src="/images/common.jpg" style="height: 230px" alt="Common Ground Exhibition logo"></a>
    			
    		</div>
    			<div class="col-xs-3 col-md-3">
    			<img src="/images/viewfinders.jpg" style="height: 200px" alt="View Finders Exhibition logo">
    			
    		</div>
    			<div class="col-xs-3 col-md-3">
    			<img src="/images/painting.png" style="height: 300px" alt="Luz Alvarado painting the pilar for the View Finders exhibition">
    			
    		</div>
    		
    	</div>-->
    	
    </div>

     <br/>

    <div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">

				
				<h3 id="head_ubc" style="text-align: center">"When love and skill work together, expect a masterpiece" <br/>
				<strong>John Ruskin</strong></h3><br/>
				
			</div>
		</div>
	</div>
</body>
