<head>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

	</script>
</head>

<body>
</br>
</br>

<div class="container">
    <div class="row">
      <div class=" col-xs-5 col-md-5">
        <img src="/images/nobackground.png" id="nobackground">
      </div>
      <div class="col-xs-7 col-md-7">
          
       	<img src="images/salut.png" id="salut">
            <br/><br/>
        <p id="message">

        	<span style="color: #2d2727 font-size: 20px">My name is Luz.</span><br/><br/>


            <span style="color: #2d2727">I'm a peruvian based in #Vancity.</span>
            <span style="color: #544e4e">I'm a <strong> digital media native</strong> (and addict).</span>
            <span style="color: #717171">I believe in team collaboration and afterwork.</span>
            <span style="color: #2d2727">I like to have fun while working on challenging projects.</span>
            <span style="color: #544e4e">I enjoy airplane/car/scotter/llama/#younameit rides.</span>
            
            <span style="color: #717171">I like to juggle multiple balls and love fast-paced environments.</span>
            <span style="color: #2d2727">I capture the world with my Canon 700D (yes, I do Photoshop some).</span>
            <span style="color: #544e4e">I'm passionate about <strong>building meaningful relationships</strong> online and offline.</span>
            <span style="color: #717171">I have explored 22 countries and I know I will <strong>travel the whole world</strong>  #travelbug. </span>

            <span style="color: #2d2727">I have created platform-specific content on Facebook, Twitter, Instagram and Youtube.</span>
            <span style="color: #544e4e">I'm looking forward to join a company that shares my values and wants to make cool stuff together. </span> 

         </p>
      </div>  
    </div> 
</div>



<div class="container">

    <div class="row" style="background-image: url(images/blackwater.png)">
    	<div class="col-xs-4 col-md-4">
    		<br/><br/>
    		<img src="/images/study.png" id="indexlogos">
    		<br/>
    		<h3 class="indextitle">Full-time learner</h3>
    		   
    		<p class="indextext">I love to explore my interests and feed my curiosity. I watch documentaries, read articles/news, enroll in online classes, etc. Currently self-studying Turkish. </p>
    		
    	</div>
    	<div class="col-xs-4 col-md-4">
    		<br/><br/>
    		<img src="/images/traveler.png" id="indexlogos">
    		<br/>
    		<h3 class="indextitle">Explorer</h3>
    	
    		<p class="indextext">I am a travelholic. I have a necessity to explore and discover places. It can be a new block on a familiar area or ruins in South America. Every corner counts on my discovery of the world.   </p>
    		
    	</div>
    	<div class="col-xs-4 col-md-4">
    		<br/><br/>
    		<img src="/images/gelato.png" id="indexlogos">
    		<br/>
    		<h3 class="indextitle">Gelato believer</h3>
    		
    		<p class="indextext">Rain or shine, gelato will always be a good a idea. It makes me so happy that I am planning to one day attend Carpigiani Gelato University in Bologna.    </p>
    	</div>
    </div>
</div>


    

	<!--<div class="row profile-images-container">
				<div class="col-md-4"> 
				<a href="/profile">
					<div class="well">
						<img src="/images/profile.jpg" id="profile"><br/>
						<div class="show_on_hover large">
							<h1 >Profile</h1>
						</div>
					</div>
				</a>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-md-offset-3">
							<img src="/images/experience.jpg">
						</div>
						<div class="col-md-3 col-md-offset-6"></div>
						
					</div>
					
				</div>-->
				<!--<div class="col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-md-3">
						<a href="/experience">
							<div class="well">
								<img src="/images/experience.jpg"></div>
								<div class="show_on_hover">
									<h1 >Experience</h1>
								</div>
							</div>
						</a>
						</div>
						<div class="col-md-3">
						<a href="/projects">
							<div class="well">
								<img src="/images/projects.jpg"></div>
								<div class="show_on_hover">
									<h1 >Projects</h1>
								</div>
							</div>
						</a>
						</div>
					</div>

				<div class="col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-md-6">
						<a href="/education">
							<div class="well">
								<img src="/images/education.jpg"></div>
								<div class="show_on_hover">
									<h1 >Education</h1>
								</div>
							</div>
						</a>
						</div>
						<div class="col-md-6">
						<a href="/contact">
							<div class="well">
								<img src="/images/contact.jpg"></div>
								<div class="show_on_hover">
									<h1 >Contact</h1>
								</div>
							</div>
						</a>
						</div>
					</div>		
				</div>-->
</body>
	

