<head>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

	</script>
	<title>Welcome to my site</title>
</head>

<body>
</br>
</br>

<div class="container">
    <div class="row">
      <div class=" col-xs-5 col-md-5">
      <br/><br/>
        <img src="/images/nobackground.png" id="nobackground">
      </div>
      <div class="col-xs-7 col-md-7">
          
       	<img src="images/salut.png" id="salut">
            <br/><br/><br/>
        <p id="message">

        	<span style="color: #2d2727 font-size: 20px">My name is Luz.</span><br/><br/>


            <span style="color: #2d2727">I'm a Peruvian <strong> digital media native</strong> (and addict) passionate about <strong>building meaningful relationships</strong> online and offline based in #Vancity.</span>
            <span style="color: #544e4e">Engaging on <a href="https://www.facebook.com/luzalvarado93"> Facebook</a>, <a href="https://www.instagram.com/luzalvarado93/"> Instagram</a> and <a href="https://twitter.com/HootLuzA"> Twitter</a> through insteresting posts, captivating images and twitter chats are my thing.</span>
            <span style="color: #717171"> I am a huge advocate of company culture and team collaboration. I want to work with friends not just co-workers.</span>
            <span style="color: #2d2727"> <a href="http://www.adweek.com/socialtimes/"> Adweek</a>, <a href="http://mashable.com"> Mashable</a> and <a href="http://www.vox.com"> Vox </a>are a few of my favs sites to keep up with the fast-paced tech world that amazes me so much. </span>
            <span style="color: #544e4e">I live, eat and breath technology but also enjoy connecting to the earth doing yoga and capturing nature with Sam, my Canon 700D. </span>
            
            <span style="color: #717171">I'm looking forward to join a company that shares my values and wants to make cool stuff together. </span> 

         </p>
      </div>  
    </div> 
</div>



<div class="container">

    <div class="row" style="background-image: url(images/blackwater.png); width: 100%;">
    	<div class="col-xs-4 col-md-4">
    		<br/><br/>
    		<img src="/images/study.png" id="indexlogos">
    		<br/>
    		<h3 class="indextitle">Full-time learner</h3>
    		   
    		<p class="indextext">I love to explore my interests and feed my curiosity. Morning (tech) news, afternoon online classes and night documentaries are my thing. Currently self-studying Turkish and waiting for UPenn's <a href="https://www.coursera.org/learn/wharton-contagious-viral-marketing/?utm_medium=email&utm_source=other&utm_campaign=opencourse.WhMdfX8-EeWkMQ6S5uJulw.opencourse.announcements~opencourse.WhMdfX8-EeWkMQ6S5uJulw.instructorCourseStart"> Viral Marketing and How to Craft Contagious Content</a> online course. </p>
    		
    	</div>
    	<div class="col-xs-4 col-md-4">
    		<br/><br/>
    		<img src="/images/traveler.png" id="indexlogos">
    		<br/>
    		<h3 class="indextitle">Travelholic</h3>
    	
    		<p class="indextext">I am a travelholic. I have a necessity to explore and discover new places, to embrace new cultures and to connect with people. Traveling has opened me up to a world of discovery, adventure and endless learning. 22 countries and counting.</p>
    		
    	</div>
    	<div class="col-xs-4 col-md-4">
    		<br/><br/>
    		<img src="/images/gelato.png" id="indexlogos">
    		<br/>
    		<h3 class="indextitle">Gelato believer</h3>
    		
    		<p class="indextext">Rain or shine, gelato will always be a good a idea. It makes me so happy that I am planning to one day attend <a href="https://www.gelatouniversity.com/en/home">Carpigiani Gelato University</span></a> in Bologna and learn the magic behind its preparation.</p>
    	</div>
    </div>

</div>


    

	<!--<div class="row profile-images-container">
				<div class="col-md-4"> 
				<a href="/profile">
					<div class="well">
						<img src="/images/profile.jpg" id="profile"><br/>
						<div class="show_on_hover large">
							<h1 >Profile</h1>
						</div>
					</div>
				</a>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-md-offset-3">
							<img src="/images/experience.jpg">
						</div>
						<div class="col-md-3 col-md-offset-6"></div>
						
					</div>
					
				</div>-->
				<!--<div class="col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-md-3">
						<a href="/experience">
							<div class="well">
								<img src="/images/experience.jpg"></div>
								<div class="show_on_hover">
									<h1 >Experience</h1>
								</div>
							</div>
						</a>
						</div>
						<div class="col-md-3">
						<a href="/projects">
							<div class="well">
								<img src="/images/projects.jpg"></div>
								<div class="show_on_hover">
									<h1 >Projects</h1>
								</div>
							</div>
						</a>
						</div>
					</div>

				<div class="col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-md-6">
						<a href="/education">
							<div class="well">
								<img src="/images/education.jpg"></div>
								<div class="show_on_hover">
									<h1 >Education</h1>
								</div>
							</div>
						</a>
						</div>
						<div class="col-md-6">
						<a href="/contact">
							<div class="well">
								<img src="/images/contact.jpg"></div>
								<div class="show_on_hover">
									<h1 >Contact</h1>
								</div>
							</div>
						</a>
						</div>
					</div>		
				</div>-->
</body>
	

