<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/stylesheets/application.css">
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

</script>



  <title>Luz Alvarado</title>
</head>
<body>

<div class="container">
  <div class="row" id="headline">
        <div class="col-md-3">
            <a href="/"><img src="/images/headline.png" id="photoheadline"></a>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12" id="headcol">
                  <a href="/"><img src="/images/line.png" id="line"></a>
                </div>
                <div class="col-md-12" id="barramenu">
                <a href="/work">EXPERIENCE</a>&nbsp;&nbsp;&nbsp;
                <a href="/ubc">SCHOOL</a>&nbsp;&nbsp;&nbsp;
                <a href="/contact">SAY HI</a>
                </div>
            </div>
          </div>


       <!-- <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"><a href="/profile">Me</a></div>
        <div class="col-md-1"><a href="/education">UBC</a></div>
        <div class="col-md-1"><a href="/experience">NUS</a></div>
        <div class="col-md-1"><a href="/projects">Others</a></div>
        <div class="col-md-1"><a href="/contact">VFW</a></div>
        <div class="col-md-1"><a href="/">ArtStarts</a></div>
        <div class="col-md-1"><a href="/">PurpleDirt</a></div>
        <div class="col-md-1"><a href="/">Contact</a></div>-->



                 <!-- <div class="col-md-1">  Home</div>
        <div class="col-md-1">Profile</div>
        <div class="col-md-2"><a href="/education"><img src="/images/education.png" class="icons1"> Education</a></div>
        <div class="col-md-2"><a href="/experience"><img src="/images/experience.png" class="icons1"> Experience</a></div>
        <div class="col-md-2"><a href="/projects"><img src="/images/projects.png" class="icons1"> Projects</a></div>
        <div class="col-md-2"><a href="/contact"><img src="/images/contact.png" class="icons1"> Contact</a></div>
      </div>
                </div>
            </div>
        </div>
  </div>
</div>-->

  <!--<div class="container">
      <div class="row" id="headline">
        <div class="col-md-3"><a href="/"><img src="/images/headline.png" id="photoheadline"></a></div>
        </br></br></br></br><div class="col-md-9"><img src="/images/line.png" id="line"></div> </br></br></br></br>
        <div class="col-md-1"></div>
        <div class="col-md-1"> <a href="/">Home</a></div>
        <div class="col-md-1"><a href="/profile">Profile</a></div>
        <div class="col-md-1"><a href="/education">UBC</a></div>
        <div class="col-md-1"><a href="/experience">NUS</a></div>
        <div class="col-md-1"><a href="/projects">Others</a></div>
        <div class="col-md-1"><a href="/contact">VFW</a></div>
        <div class="col-md-1"><a href="/">ArtStarts</a></div>
        <div class="col-md-1"><a href="/">PurpleDirt</a></div>-->
          
          <!--<div><a href="/"> HOME </a></div> <div><a href="/profile"> ME</a></div>
          <div><a href="/education"> UBC</a></div>
          NUS</br>
          VFW</br>
          ARTSTARTS</br>
          PURPLEDIRT</br>
          SAY HELLO</br>
          </div>-->
        
      </div>
  </div>


 <!--<div class="container">
    <div class="row" id="menu">
      <div class="col-md-3">
          
          <div><a href="/"> HOME </a></div> 
          <div><a href="/profile"> ME</a></div></br>
          <div><a href="/education"> UBC</a></div></br>
          NUS</br>
          VFW</br>
          ARTSTARTS</br>
          PURPLEDIRT</br>
          SAY HELLO</br>
      </div> 
      <div class="col-md-2 col-md-offset-7"></div>
    </div>
  </div> -->

  <%= yield %>
      <!--
      <div class="col-md-9">
        <div class="row profile-images-container">
        <div class="col-md-4"> 
        <a href="/profile">
          <div class="well">
            <img src="/images/profile.jpg" id="profile"><br/>
            <div class="show_on_hover large">
              <h1 >Profile</h1>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>-->
</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="social">
        </br>
          <a href="https://ca.linkedin.com/in/luzalvarado"><img src="/images/link.png" class="icons"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com/hootluza"><img src="/images/twitter.png" class="icons"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.instagram.com/luzalvarado93/"><img src="/images/insta.png" class="icons"></a>
          </br>
      </div>  
    </div>      
  </div> 
</footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
</html>
