<body>
	<div class="title_contact">
        <div class="row">
        	<div class="col-md-1"> <img src="/images/main_profile.png" class="main_icon"></div>
        	<div class="col-md-11"><h2 id="label_contact">Profile</h2></div>
        </div>
  	</div>

  <div id="body_profile">
  	<div class="row">
  		<div class="col-md-4" id="profile_content">
  			<h3>Who am I?</h3>
  			
  		</div>
  		<div class="col-md-8">
  			<p>
  			I was born and raised in Lima, Peru and moved to Vancouver, Canada to pursue my undergraduate degree at the Sauder School of Business. I specialized in Marketing and International Business, and did a minor in International Relations.I have excellent listening and communication skills, as well as ability to work and lead teams developed through participation in various extra-curricular activities. <br/><br/>

  			I spent the last half of 2014 in Singapore doing my exchange semester at the National University of Singapore. This experience was life changing as I grew personally and academically. I escaped my comfort zone and challenged myself to live in a part of the world I barely knew about. My communication and listening skills improved, as well as, my ability to work and lead teams. Also, I expanded my knowledge on brand management and market research through demanding projects.<br/>
  			</p>
  		</div>
  	</div>

  	<div class="row" id="interest">
  		<div class="col-md-4" id="profile_content">
  			<h3>Interests</h3>
  		</div>
  			<div class="col-md-1"></div>
  			<div class="col-md-1"><img src="/images/social.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/photo.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/travel.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/international.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/volunteer.png" class="row-icons"></div>
  			<div class="col-md-1"><img src="/images/program.png" class="row-icons">
  			</div>
  			<div class="col-md-1"></div>					
  	</div>
  	
 </div>





 

</body>