<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>

  <div class="container">
    <div class="row">
      <div class=" col-md-3">
        <img src="/images/profilepicture.png" class="img-circle" style="height:250px;width:250px;margin-top: 60px">
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-1">
          <p>
            <br/><br/><br/>
            Hi, I'm Luz!<br/><br/>

            I'm a peruvian based in #Vancity.<br/>
            I'm a <strong> digital media native</strong> (and addict).<br/>
            I believe in team collaboration and afterwork.<br/>
            I enjoy airplane/car/scotter/llama/#younameit rides.<br/>
            I like to have fun while working on challenging projects.<br/>
            
            I like to juggle multiple balls and love fast-paced environments.<br/>
            I capture the world with my Canon 700D (yes, I do Photoshop some).<br/>
            I'm passionate about <strong>building meaningful relationships</strong> online and offline. <br/>
            I have explored 22 countries and I know I will <strong>travel the whole world</strong>  #travelbug. <br/>

            I have created platform-specific content on Facebook, Twitter, Instagram and Youtube. <br/>
            I'm looking forward to join a company that shares my values and wants to make cool stuff together. 
            <br/><br/><br/><br/>
            

          </p>
      </div>  
    </div>  
  </div>
    
  


  

  	<!--<div class="row" id="interest">
  		<div class="col-md-4" id="profile_content">
  			<h3>Things I love</h3>
  		</div>
  			<div class="col-md-1"></div>
  			<div class="col-md-1"><img src="/images/social.png" class="row-icons" title="Social Media"></div>
  			<div class="col-md-1"><img src="/images/photo.png" class="row-icons" title="Photography"></div>
  			<div class="col-md-1"><img src="/images/travel.png" class="row-icons" title="Travel"></div>
  			<div class="col-md-1"><img src="/images/international.png" class="row-icons" title="International Affairs"></div>
  			<div class="col-md-1"><img src="/images/volunteer.png" class="row-icons" title="Volunteering"></div>
  			<div class="col-md-1"><img src="/images/program.png" class="row-icons" title="Coding">
  			</div>
  			<div class="col-md-1"></div>					
  	</div>-->
  	
 </div>

 

</body>