<head>

	<title>Say hi!</title>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>


<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h3 id="chat">
				Need one-of-a-kind content, social media that's human
				and someone that can keep up with the fast-paced online world? Someone that likes tea and wants to chat everything social media, technology and travel?
				<br/><br/>
				Let's connect!
				<br/> <br/>
				Email me at <a href="mailto:luz.andrea93@gmail.com?Subject=Let's Chat!" target="_top">luz.andrea93@gmail.com </a> or connect through any social channel!
				<br/><br/>

				<br/>
			</h3>
		</div>
	</div>
</div>


    

			
		<!--<form method="POST" action="MAILTO:luz.andrea93@gmail.com" enctype="text/plain" id="contact">
	
			<div>
				<label for="name">Name</label>
				<input type="text" name="name" id="name">
			</div>
	
			<div>
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
			</div>
			<div>
				<label for="subject">Subject</label>
				<input type="text" name="subject" id="subject">
			</div>
			<div>
				<label for="message">Message</label>
				<input type="text" name="message" id="message">
			</div>
		
			<input type="submit" class="btn btn-info" id="submit"/>
			</form>
		</div>-->
		
		



</body>