<head>

	<title>Superpowers</title>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

	</script>
</head>

<body>

</br>

	<div class="container">
		<div class="row">
				
				<h4 ><strong>SOCIAL</strong></h4>
                <br/>
                <div class=" col-xs-3 col-md-3" >
                	<img src="/images/newinstagram.png" style="width:50%" title="Instagram">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/snapchat.png" style="width:50%" title="Snapchat">
                </div>
				<div class=" col-xs-3 col-md-3">
                	<img src="/images/twitter.png" style="width:50%" title="Twitter">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/facebook.png" style="width:50%" title="Facebook">
                </div>
        </div>
            <br/>
        <div class="row">

            <h5 style="text-align: justify; line-height: 1.5; padding-left: 20px; padding-right: 20px "> As every good millennial, I know my ways around the most popular social media platforms. However, I not only understand the nuances of every platform when it comes to personal usage but also when it comes to business. I took Hootsuite's <a href="https://www.accredible.com/10087577"> Social Media Marketing Certification Exam</a> where I learned about the impact of social media on business and how to use it to generate engagement, growth, and revenue. Also, I got <a href="https://learn.hootsuite.com/u/luzalvarado"> Hootsuite Certified</a>. Here, I learned to use the platform and its diverse tools for better listening and engagement. </h5>
				
			
		</div>

		<br/>
		<br/>

		<div class="row">
				
				<h4><strong>CREATIVE</strong></h4>
                <br/>
                <div class="col-xs-3 col-md-3">
                	<img src="/images/photoshop.png" style="width:50%" title="Photoshop">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/finalcut.png" style="width:50%" title="Final Cut Pro X">
                </div>
				
		</div>

		 <br/>
        <div class="row">

            <h5 style="text-align: justify; line-height: 1.5; padding-left: 20px; padding-right: 20px ">One of my favourite things to do is to capture moments through photography. In order to enhance the quality of the pics, I decided to learn Photoshop and give them a little artistic/surreal touch. Well, I sometimes just use it to erase some people/things from backgrounds. In terms of making videos, I have used Final Cut Pro X and the good old Movie Maker. I made a <a href="https://www.youtube.com/channel/UCmMSvYctwGYEHA2h4dkKH2Q"> video series</a> for PurpleDirt to create a relationship between artisans and buyers. I would love to continue exploring the Adobe Creative Suite and experimenting video-making with a GoPro! </h5>
				
			
		</div>


		<br/>
		<br/>

		<div class="row">
				
				<h4><strong>WEB-DEVELOPMENT</strong></h4>
                <br/>
                <div class="col-xs-3 col-md-3">
                	<img src="/images/html.png" style="width:50%" title="HTML">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/css.png" style="width:50%" title="CSS">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/bootstrap.png" style="width:50%" title="Bootstrap">
                </div>
                <br/>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/sinatra.png" style="width:50%" title="Sinatra">
                </div>
				
		</div>
		 <br/>
        <div class="row">

            <h5 style="text-align: justify; line-height: 1.5; padding-left: 20px; padding-right: 20px ">Last summer, I decided it was time to feed my curiosity and learn to code. I joined the part-time web-development June cohort at <a href="https://lighthouselabs.ca/"> Lighthouse Labs</a>. I learned SO much, from how to use the terminal (the black screen with white text) to create a fully responsive website (like this one!). This clearly didn't help to calm my curiosity, it just made it increase. JavaScript is coming soon!  </h5>
				
			
		</div>

		<br/>
		<br/>

		<div class="row">

				
				<h4><strong>ANALYTICS</strong></h4>
                <br/>
                <div class="col-xs-3 col-md-3">
                	<img src="/images/googleanalytics.png" style="width:50%" title="Google Analytics">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/webmaster.png" style="width:50%" title="Google Search Console">
                </div>
				
		</div>
		 <br/>
        <div class="row">

            <h5 style="text-align: justify; line-height: 1.5; padding-left: 20px; padding-right: 20px ">Everyone thinks that working with social media and technology is just creating content, doing fun stuff and having a great time. WRONG. Analytics are a huge part of it cause all the outreach that that content makes has to be measure. Plus, it helps you unlock insights regarding your audience, campaigns, traffic, everything! Google Analytics is a great tool that I'm still exploring. 

             </h5>
				
			
		</div>

		<br/>
		<br/>

		<div class="row">

				
				<h4><strong>LANGUAGES</strong></h4>
                <br/>

                <div class="col-xs-3 col-md-3 col-md-offset-1">
                	<img src="/images/english.png" style="width:50%" title="English">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/spanish.png" style="width:50%" title="Spanish">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/french.png" style="width:50%" title="French">
                </div>
                <div>
                <br/>
                	
                </div>
        </div>
        <div class="row">
                <div class="col-xs-3 col-md-3 col-md-offset-1">
                	<img src="/images/chinese.png" style="width:50%" title="Chinese">
                </div>
				<div class="col-xs-3 col-md-3">
                	<img src="/images/turkish.png" style="width:50%" title="Turkish">
                </div>
				<div class="col-xs-3 col-md-3">
                	 <img src="/images/italian.png" style="width:50%" title="Italian">
                </div>
                <div>
                <br/>
                	
                </div>
					
		</div>
		<br/>
        <div class="row">

            <h5 style="text-align: justify; line-height: 1.5; padding-left: 20px; padding-right: 20px ">I've always been fascinated by the diversity of the world. One of my ways to discover it, apart from traveling, is learning new languages as it takes me to places with just one word. I get to embrace cultures, ideologies, history and even learn about political issues. I am fluent in English (because it's widely spoken), Spanish (because it's my mother tongue) and French (because it's the most beautiful language). Many would say that's enough but not for my inner desire to explore the world. As a result, I learned basic <a href="https://www.coursera.org/learn/learn-chinese"> Chinese</a> online but didn't really like it so I'll stay a beginner for now. Currently, I'm teaching myself Turkish because Cappadocia is at the top of my bucket list and I'm really attracted to the culture/history. And, I've recently enrolled in an online class to learn <a href="https://www.futurelearn.com/courses/learn-italian/1/todo/4345">Italian</a>. 

             </h5>
				
			
		</div>
	</div>
    <br/>
    <br/>


</body>
