<head>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65878380-1', 'auto');
  ga('send', 'pageview');

</script>

<title>School</title>
</head>

<body>
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h3 id="head_ubc">I graduated from the <strong>Sauder School of Business</strong> at UBC with a Bachelor of Commerce. I specialised in <strong>Marketing and International Business</strong> and minored in International Relations.</h3><br/>
				<h4 class="phrase">I had some awesome experiences</h4>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-4">
				<a href="http://saudersummit.ca/"><img src="/images/sauder.png" class="projectlogo"></a>
				<h4 class="pic_title">Sauder Summit Global Case Competition</h4>
				<br/>
				<!--<p> 
				The annual competition was launched in 2013 and I was lucky to be part of it since day 1 for 3 years. During my involvement, I've had different roles and they all allowed me to build long-lasting friendships around Canada and the world. Probably, the skills I used (and mastered) the most were problem-solving (imagine becoming an advisor in less than 1hr) and time management (school+team+competition+birthday week). I was awarded as the Best International Ambassador the 2 years I was on that role because of my initiative, passion and commitment. 	
				</p><br/>
				<p id="skills"><strong>Skills: event planning, community building, problem-solving, time management, communication, teamwork, negotiation.</strong></p>-->
			</div>
			<div class="col-xs-4 col-md-4">
				<a href="https://storify.com/UBCSauderSchool/bcom-s-trekchina-trip-2015"><img src="/images/logo_sauder.png" class="projectlogo"></a>
				<h4 class="pic_title">TREK China</h4>
				<br/>
				<!--<p>
				In 2015, I was part of the 18 students choosen to go on a 5-day business trip to Shanghai and Hong Kong. This was an incredible adventure not only because I visited dynamic China and embraced the culture but also because I learned about the fast-pace Chinese business environment and made strong relations with business professionals and alumni. Plus, I was selected to instagram, tweet and take pictures during the trip to keep the Sauder community informed about our journey. China made this task a little bit hard with all the blocked sites but I found my way (thanks VPN!). 
				</p><br/>
				<p id="skills"><strong>Skills: networking, community building, communication, content creation (Instagram & Twitter), photography.</strong> </p>-->
			</div>	
			<div class="col-xs-4 col-md-4" id="trek">
				<a href="https://bschool.nus.edu.sg/"><img src="/images/nusuni.png"  class="projectlogo"></a>
				<h4 class="pic_title">National University of Singapore</h4>
				<br/>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h4 class="phrase">And did some pretty cool projects </h4>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-4">
				<a href="http://beatymuseum.ubc.ca/"><img src="images/beaty.png" class="projectlogo"></a>
				<h4 class="pic_title">Marketing Applications </h4>
			</div>
			<div class="col-xs-4 col-md-4">
				<a href="http://www.westjet.com/guest/en/home.shtml;WS_SESSION_ID=1AF51C6DF3A4EB660937FF678BE9D61F"><img src="images/westjet.png" class="projectlogo"></a>
				<h4 class="pic_title">International Business </h4>
			</div>
			<div class="col-xs-4 col-md-4">
				<a href="http://citystudiovancouver.com/"><img src="images/citystudio.png" class="projectlogo"></a>
				<h4 class="pic_title">Poverty & Inequality </h4>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-4">
				<a href="https://www.facebook.com/ShopPurpleDirt/?fref=ts"><img src="images/purple.png" class="projectlogo"></a>
				<h4 class="pic_title">Consumer Behaviour </h4>
			</div>
			<div class="col-xs-4 col-md-4">
				<a href="https://www.youtube.com/watch?v=dSx995gBAZE"><img src="images/tappsy.png" class="projectlogo"></a>
				<h4 class="pic_title">Business Writing </h4>
			</div>
			<div class="col-xs-4 col-md-4">
				<a href="http://theeatery.ca"><img src="images/eatery.png" class="projectlogo"></a>
				<h4 class="pic_title">Business Communications </h4>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-4">
				<img src="images/strax.png" class="projectlogo">
				<h4 class="pic_title">Brand Management </h4>
			</div>
			<div class="col-xs-4 col-md-4">
				<a href="http://www.frankbyocbc.com"><img src="images/frank.png" class="projectlogo"></a>
				<h4 class="pic_title">Market Research</h4>
			</div>
			
		</div>
	</div>



	<br/>
	<br/>
</body>